<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
>
    <testsuites>
        <testsuite name="Folklore/GraphQL Test Suite">
            <directory>./tests/</directory>
            <exclude>./tests/TestCase.php</exclude>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/Folklore/GraphQL</directory>
            <exclude>./src/Folklore/GraphQL/routes.php</exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="tests/logs/clover.xml"/>
    </logging>
</phpunit>
